.App {
  text-align: center;
}
.login-form {
  display: flex;
  justify-content: center;
  background-color:"red";
	text-align:"center";
}

.login-form > form {
  margin-top:20px;
  background-color: #183f33;
  width: 40%;
  padding:20px;
  border-radius:10px;
}

.btn-register {
  color:#fef8f2;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top:20px;
}
a,li, ul {
  color:"white";
}

.form-label {
  color:white;
}

h1 {
  color:#183f33;
  font-weight: bold;
  margin-top: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

.search > input{
  width: 20%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
