body, html {
  margin: 0;
  background-image: url(../src/assets/surf.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}
